---

---

<section class="about">
  <h3>Sobre mí</h3>
  <p>
    Soy Jose Ramon, un recién titulado en Desarrollo de Aplicaciones Web de
    Palma de Mallorca, España. Con pasión por la tecnología y un enfoque en el
    aprendizaje continuo, estoy emocionado por explorar nuevas oportunidades en
    el mundo del desarrollo web. ¡Vamos a construir algo increíble juntos!
  </p>
</section>
