---

---

<section class="hero">
  <article class="description">
    <h1>Hola, soy Jose Ramon</h1>
    <h3>Desarrollador Web</h3>
    <!--<p>
      Soy Jose Ramon, un recién titulado en Desarrollo de Aplicaciones Web de
      Palma de Mallorca, España. Con pasión por la tecnología y un enfoque en el
      aprendizaje continuo, estoy emocionado por explorar nuevas oportunidades
      en el mundo del desarrollo web. ¡Vamos a construir algo increíble juntos!
    </p>-->
  </article>
  <article class="image">
    <div class="shape"></div>
  </article>
</section>

<style>
  .hero {
    height: 80vh;
    margin: 0 auto;
  }

  .description {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50ch;
    margin: 15px 20px;
  }

  h1,
  h3 {
    margin: 10px 0;
  }

  h3 {
    width: max-content;
    padding: 5px 10px;
    background-color: var(--accent);
  }

  .image {
    max-width: 50ch;
  }
</style>
