---
const { platform, username } = Astro.props;
---

<a class="link" href={`https://www.${platform}.com/${username}`} target="_blank" rel="noopener noreferrer">
  <slot />
</a>

<style>
  a {
    padding: 0.5rem;
    color: white;
    text-decoration: none;
  }
</style>
